name: Java CI with Gradle

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0 # ensures the full history is available for some tools

    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Build with Gradle
      run: ./gradlew build

    # Optional: Upload the built JAR file as an artifact
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: spring-boot-app
        path: build/libs/*.jar
